@use "../../base/variables" as *;

.wp-block-video {
	margin-block: 1.5rem;

	video {
		height: auto;
		width: 100%;
	}

	figcaption {
		color: $gray;
		font-size: $font-size--sm;
		line-height: $line-height--sm;
		margin-block: 0.375rem 0;
		text-align: center;
	}
}