@use "../../base/variables" as *;

.wp-block-separator {

	// Konfiguracja
	$line-color: $silver;
	$line-border-size: 0.0625rem;
	$line-margin-vertical: 3rem;

	// Style
	border: $line-border-size solid $line-color;
	margin-block: $line-margin-vertical;

}