.button {
	background-color: $gray;
	border: 0;
	border-radius: 0.25rem;
	color: #fff;
	font-family: $font-family;
	font-size: $font-size;
	height: 3rem;
	min-width: 3rem;
	padding: 0 1rem;

	&:hover {
		background-color: darken($gray, 10%);
	}
}