@use '../../base/variables' as *;
@use '../../base/mixins' as *;
@use '../../base/placeholders';

.comments {
	color: $gray;
	margin-block: 6rem;
	margin-inline: auto;

	.comment-reply-title {
		color: $black;
		font-size: $font-size--md;
	}

	.comment-form {
		p.comment-form-comment,
		p.comment-form-author,
		p.comment-form-email,
		p.comment-form-url,
		p.form-submit {
			line-height: 1;

			label {
				color: $black;
				display: block;
				font-weight: $font-weight--bold;
				line-height: 1;
				margin-block: 0 0.5rem;
			}
		}

		p.comment-form-cookies-consent {
			@include flex($align:center, $gap:0.5rem);
			line-height: $line-height--sm;
		}

		textarea,
		input:not([type=submit], [type=checkbox]) {
			border: 0.0625rem solid $gray;
			border-radius: 0.5rem;
			color: $gray;
			font-family: $font-family;
			font-size: $font-size;
			padding: 0.5rem;
			width: 100%;
		}

		textarea {
			height: 9rem;
		}

		input:not([type=submit], [type=checkbox]) {
			height: 3rem;
		}

		input[type=submit] {
			@include button;
		}
	}

	&__list {
		@extend %list-reset;
		margin-block: 6rem 0;

		.comment-author {
			@include flex($align:center, $gap:0.25rem);
		}

		.comment-content {
			p {
				margin-block: 0.75rem;
			}
		}
	}

}

// Wersja do druku
@media print {
	.comments {
		display: none;
	}
}
