@use '../../base/variables' as *;
@use '../../base/mixins' as *;
@use '../../base/placeholders';

.date {
	@include flex( $align:center, $justify:center, $gap:0.25rem );
	color: $gray;
	line-height: $line-height;

	&::before {
		@extend %icon;
		background-image: url( "../../images/icon-time.svg" );
	}

	// Data we wpisach i na stronach
	body.page &,
	body.single & {
		text-align: center;
	}
}