@use 'base/variables' as *;
@use 'tools/mixins' as *;

// Lista helperów:
//   1. Wrapper
//   2. Button


//---
// 1. Wrapper
.wrapper {
	margin-inline: auto;
	max-width: 70rem;

	.wrapper--small {
		max-width: 45rem;
	}
}

//---
// 2. Button
.button {
	@include button();
}