@use '../base/variables' as *;

// Lista mixinów:
//   1. Flex
//   2. Grid
//   3. Button
//   4. Figcaption


//---
// 1. Flex
@mixin flex($display:flex, $align:normal, $justify:flex-start, $direction:row, $gap:normal normal, $wrap:nowrap) {
	align-items: $align;
	display: $display;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $justify;
	gap: $gap;
}

//---
// 2. Grid
@mixin grid($columns:none, $rows:none, $gap:normal normal) {
	display: grid;
	gap: $gap;
	grid-template-columns: $columns;
	grid-template-rows: $rows;
}

//---
// 3. Button
@mixin button($background-color:$red, $border-radius:1.125rem, $color:$white) {
	@include flex($align:center, $justify:center, $gap:0.25rem);
	background-color: $background-color;
	border: 0;
	border-radius: $border-radius;
	color: $color;
	font-family: $font-family;
	font-size: $font-size;
	height: 2.25rem;
	min-width: 2.25rem;
	padding: 0 0.75rem;
	user-select: none;

	&:hover {
		background-color: darken($background-color, 5%);
	}

	box-icon {
		fill: $color;
		flex-shrink: 0;
	}
}
