@use '../base/variables' as *;

// Lista placeholderów:
//   1. List reset
//   2. Inverted underline
//   3. Figcaption
//   4. Icon


//-----
// 1. List reset
%list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}


//-----
// 2. Inverted underline
%inverted-underline {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		text-decoration-thickness: 0.0625rem;
	}
}


//-----
// 3. Figcaption
%figcaption {
	color: $gray;
	font-style: italic;
	line-height: $line-height--sm;
	margin-block: 0.75rem 0;
	text-align: center;
}


//-----
// 4. Icon
%icon {
	background-position: center;
	background-repeat: no-repeat;
	content: "";
	display: block;
	flex-shrink: 0;
	height: 1cap;
	width: 1cap;
}