@use 'base/variables' as *;

// Lista placeholderów:
//   1. List reset
//   2. Inverted underline


//---
// 1. List reset
%list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

//---
// 2. Inverted underline
%inverted-underline {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		text-decoration-thickness: 0.0625rem;
	}
}

//---
// 3. Figcaption
%figcaption {
	color: $gray;
	font-style: italic;
	line-height: $line-height--small;
	margin-block: 0.75rem 0;
	text-align: center;
}