.skip-to-content {
	background-color: #fff;
	border: 2px solid #000;
	left: -9999px;
	overflow: hidden;
	padding: 1rem;
	position: absolute;
	top: 1rem;
	z-index: 9999;
}

.skip-to-content:focus {
	overflow: auto;
	left: 1rem;
}
