@use 'base/variables' as v;

.menu {
	list-style: none;
	padding: 0;

	.menu-item {
		display: inline-block;
		position: relative;
	}

	a {
		line-height: v.$line-height--reset;
		padding: 0.5rem;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.sub-menu {
		background-color: v.$white;
		border: 1px solid v.$gray;
		display: none;
		left: 0.5rem;
		padding: 0.75rem 1rem 1rem;
		position: absolute;
		text-align: left;
		top: 2rem;
		white-space: nowrap;

		&--show {
			display: block !important;
		}

		.menu-item {
			display: block;
			margin: 0.25rem 0;
		}

		a {
			margin: 0;
		}
	}
}