@use 'base/variables' as v;
@use 'tools/mixins' as m;
@use 'tools/placeholders';

.menu {
	@extend %list-reset;
	@include m.flex($align:center, $justify:center, $gap:0.5rem);

	& > .menu-item {
		position: relative;
	}

	a {
		@extend %inverted-underline;
		color: v.$white;
		line-height: v.$line-height--reset;
		padding-block: 0.75rem;
		padding-inline: 0.5rem;
	}
}

.menu--header {
	.menu-item-has-children {
		&::after {
			color: v.$black;
			content: "🡫";
			margin-inline: -0.5rem 0.5rem;
		}
	}
}