@use 'base/variables' as *;
@use 'tools/mixins' as *;

.navbar {
	text-align: center;

	&.navbar--header {
		@include flex($align:center, $justify:center);
		background-color: $blue;
		height: 5rem;
	}
}