@use '../../base/variables' as *;
@use '../../tools/mixins' as *;

.navbar {
	text-align: center;

	&.navbar--header {
		@include flex( $direction:column, $align:center, $justify:center, $gap:0.5rem );
		background-color: $black;
		min-height: 4.5rem;
		padding-block: 1rem;
		padding-inline: 1rem;
	}
}