@use '../../base/variables' as *;
@use '../../tools/mixins' as *;
@use '../../tools/placeholders';

.pagination {
	margin-block: 4rem 0;
	text-align: center;

	.nav-links {
		@include flex( $align:center, $justify:center, $gap:0.5rem, $wrap:wrap );
	}

	.page-numbers {
		@include button();
		text-decoration: none;
	}

	.current {
		@include button($background-color:$red, $color:$white);
	}

	.page-numbers,
	.current {
		flex-shrink: 1;
		line-height: 1;
		min-width: 2rem;
		padding: 0;
	}

	.icon-prev,
	.icon-next {
		@include flex( $align:center, $justify:center, $gap:0.25rem );
		padding: 0 1rem;
	}

	.icon-prev::before,
	.icon-next::after {
		@extend %icon;
	}

	.icon-prev::before {
		background-image: url( "../../images/icon-arrow-left.svg" );
	}
	
	.icon-next::after {
		background-image: url( "../../images/icon-arrow-right.svg" );
	}
}