@use '../../base/variables' as *;
@use '../../tools/mixins' as *;

.pagination {
	margin-block: 4rem 0;
	text-align: center;

	.nav-links {
		@include flex($align:center, $justify:center, $gap:0.5rem, $wrap:wrap);
	}

	.page-numbers {
		@include button();
		text-decoration: none;
		width: 2.5rem;
	}

	.current {
		@include button($background-color:$red, $color:$white);
	}

	.page-numbers,
	.current {
		flex: 0 0;
		padding: 0;
	}
}