@use '../../base/variables' as *;

.sub-menu {
	background-color: $white;
	border: 0.0625rem solid $black;
	display: none;
	inset: 2rem auto auto 0;
	padding: 0.75rem 1rem 1rem;
	position: absolute;
	text-align: left;
	white-space: nowrap;
	z-index: 9999;

	&--show {
		display: block !important;
	}

	.menu-item {
		display: block;
		padding: 0.25rem;
	}

	a {
		color: $black;
		margin: 0;
	}
}