body {
	margin: 0;
	padding: 0;
}

.axel-header,
.axel-main,
.axel-footer {
	margin: 0 auto;
	width: 72rem;
}

.axel-main {
	display: grid;
	gap: 4rem;
	grid-template-columns: 44rem 24rem;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

@import 'parts/screen-reader-text';

// Navigation
@import 'parts/navigation/navbars.scss';
@import 'parts/navigation/menus.scss';
