body {
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

.axel-main {
	margin: 0 auto;
	width: 72rem;
}

.axel-main {
	display: grid;
	gap: 4rem;
	grid-template-columns: 44rem 24rem;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

@import 'parts/screen-reader-text';

// Header
@import 'parts/header/header';
@import 'parts/header/site-name';

// Navigation
@import 'parts/navigation/navbars.scss';
@import 'parts/navigation/menus.scss';
@import 'parts/navigation/search-form';
@import 'parts/navigation/pagination';

// Posts
@import 'parts/posts/excerpt';

// Footer
@import 'parts/footer/footer';
@import 'parts/footer/scroll-top-top';
@import 'parts/footer/credits';