.axel-main {
	& > .axel-wrapper {
		margin: 0 auto;
		width: 70rem;
	}

	&__title,
	&__search-info {
		text-align: center;
	}

	&__title {
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1;
		margin: 0 0 4rem;
	}

	&__search-info {
		margin: -3rem 0 4rem;
	}

	&__404-message {
		text-align: center;
	}

	&__authors-bio,
	&__authors-list {
		width: 40rem;
	}

	&__authors-bio {
		margin: -1.5rem auto 4rem;
	}

	&__authors-list {
		margin: 4rem auto;
		text-align: center;
	}
}