// Layout
@use 'layout/separator';

// Media
@use 'media/file';
@use 'media/gallery';
@use 'media/image';
@use 'media/video';

// Text
@use 'text/header';
@use 'text/list';
@use 'text/paragraph';
@use 'text/quote';
@use 'text/table';

// Embed
@use 'embed/embed';

// Others
.has-text-align-left {
	text-align: left;
}

.has-text-align-center {
	text-align: center;
}

.has-text-align-right {
	text-align: right;
}