@use '../../base/variables' as *;
@use '../../tools/placeholders';

.site-name {
	text-align: center;
	
	.site-name__link {
		@extend %inverted-underline;
		color: $black;
		display: inline-block;
		font-size: $font-size--xlarge;
		font-weight: $font-weight--bold;
		line-height: $line-height--reset;
		margin-bottom: 0.5rem;
	}

	.site-name__description {
		font-size: $font-size--medium;
		font-weight: $font-weight--regular;
		line-height: $line-height;
	}
}

// Jeśli jest obrazek w tle
.header {
	&.has-background {
		.site-name__link,
		.site-name__description {
			color: $white;
			text-shadow: 0 0 2rem $black;
		}
	}
}