@use 'base/variables' as v;
@use 'tools/placeholders';

.site-name {
	text-align: center;
	
	.site-name__link {
		@extend %inverted-underline;
		display: inline-block;
		font-size: v.$font-size--xlarge;
		font-weight: v.$font-weight--bold;
		line-height: v.$line-height--reset;
		margin-bottom: 0.5rem;
	}

	.site-name__description {
		font-size: v.$font-size;
		font-weight: v.$font-weight--regular;
		line-height: v.$line-height;
	}
}