.axel-menu {
	list-style: none;
	padding: 0;

	.menu-item {
		display: inline-block;
		position: relative;
	}

	a {
		line-height: 1;
		margin: 0 0.5rem;
		padding: 1rem 0;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.sub-menu {
		background-color: #fff;
		border: 1px solid #b2b2b2;
		display: none;
		left: 0.5rem;
		padding: 0.75rem 1rem 1rem;
		position: absolute;
		text-align: left;
		top: 2rem;
		white-space: nowrap;

		.menu-item {
			display: block;
			margin: 0.25rem 0;
		}

		a {
			margin: 0;
		}
	}

	&--header {}
	&--footer {}
}