.axel-search-form {
	margin: 4rem 0 2rem;
	text-align: center;

	&__label {
		align-items: center;
		background-color: $white;
		border: 0.0625rem solid $gray;
		border-radius: 0.25rem;
		display: inline-flex;
	}
	
	&__input {
		background: $white;
		border: 0;
		border-radius: 0.25rem;
		font-family: $font-family;
		font-size: $font-size;
		height: 3rem;
		padding: 0 1rem;
		width: 16rem;
	}

	&__button {
		height: 2.5rem;
		margin: 0 0.25rem;
	}
}