@use '../../base/variables' as *;
@use '../../base/mixins' as *;
@use '../../base/placeholders';

.menu {
	@extend %list-reset;

	.menu-item {
		line-height: 1;
		padding: 0.5rem;
	}

	a {
		@extend %inverted-underline;
		color: $white;
	}
}

.menu--header {
	display: none;

	@media screen and ( min-width:$breakpoint--sm ) {
		@include flex( $align:center, $justify:center, $gap:0.5rem, $wrap:wrap );
	}

	.menu-item-has-children {
		position: relative;

		& > a {
			@include flex( $align:center, $justify:center, $gap:0.25rem );
		}

		& > a::after {
			@extend %icon;
			background-image: url( "../../images/icon-arrow-down.svg" );
		}
	}
}

.menu--header.show {
	@include flex( $direction:column, $align:center, $justify:center, $gap:0, $wrap:wrap );

	.menu-item {
		padding: 0.25rem;
	}

	.menu-item-has-children > a::after {
		display: none;
	}
}

.menu--footer {
	@media screen and ( min-width:$breakpoint--sm ) {
		@include flex( $direction:row, $gap:0.5rem );
	}

	.menu-item {
		padding: 0.25rem;

		@media screen and ( min-width:$breakpoint--sm ) {
			padding: 0.5rem;
		}
	}
}

// Wersja do druku
@media print {
	.menu {
		display: none;
	}
}
