@use "../../base/variables" as *;
@use "../../base/mixins" as *;
@use "../../base/placeholders";

.pagination {
	margin-block: 4rem 0;
	text-align: center;

	.nav-links {
		@include flex( $align:center, $justify:center, $gap:0.5rem, $wrap:wrap );
	}

	.page-numbers {
		@include button();
		text-decoration: none;
	}

	.current {
		@include button($background-color:lighten($red, 16%), $color:darken($red, 32%));
		font-weight: $font-weight--bold;
	}

	.page-numbers,
	.current {
		flex-shrink: 1;
		line-height: 1;
		min-width: 2rem;
		padding: 0;
	}

	.icon-prev,
	.icon-next {
		@include flex( $align:center, $justify:center, $gap:0.25rem );
		padding: 0 1rem;
	}

	.icon-prev::before,
	.icon-next::after {
		@extend %icon;
	}

	.icon-prev::before {
		background-image: url( $image-directory + "icon-arrow-left.svg" );
	}
	
	.icon-next::after {
		background-image: url( $image-directory + "icon-arrow-right.svg" );
	}
}