@use 'base/colors' as color;

.placeholder {

	// Zastepczy obrazek wyróżniający w skrótach wpisów
	.blog &,
	.category &,
	.archive & {
		background-color: color.$silver;
		height: 18rem;
		margin-block: 0 1.5rem;
		width: 33rem;
	}
}