@use 'base/typography';

.title {
	line-height: typography.$lineHeight--sm;
	
	// Tytuł w skrótach wpisów
	.blog &,
	.category &,
	.archive & {
		font-size: typography.$fontSize--reset;
		margin-block: 1rem 1.5rem;
	}

	// Tytuł we wpisach i na stronach
	.page &,
	.single & {
		font-size: typography.$fontSize--lg;
		margin-block: 0 1rem;
		text-align: center;
	}

	// Odnośnik w tytule
	&__link {
		font-size: typography.$fontSize--md;
		line-height: typography.$lineHeight--sm;
	}
}