@use 'base/typography';

.title {
	line-height: typography.$lineHeight--sm;

	// Odnośnik w tytule
	&__link {
		font-size: typography.$fontSize--md;
		line-height: typography.$lineHeight--sm;
	}
}

h1.title {
	font-size: typography.$fontSize--lg;
	margin-block: 0 1rem;
	text-align: center;
}

h2.title {
	font-size: typography.$fontSize--reset;
	margin-block: 1rem 1.5rem;

	body.search & {
		margin-block: 0;
	}
}