// Layout
@import 'layout/separator';

// Media
@import 'media/file';
@import 'media/gallery';
@import 'media/image';

// Text
@import 'text/header';
@import 'text/list';
@import 'text/paragraph';
@import 'text/quote';
@import 'text/table';

// Others
.has-text-align-left {
	text-align: left;
}

.has-text-align-center {
	text-align: center;
}

.has-text-align-right {
	text-align: right;
}