@font-face {
  font-display: swap;
  font-family: "Familjen Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("../font/familjen-grotesk-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Familjen Grotesk";
  font-style: italic;
  font-weight: 400;
  src: url("../font/familjen-grotesk-italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Familjen Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("../font/familjen-grotesk-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Familjen Grotesk";
  font-style: normal;
  font-weight: 600;
  src: url("../font/familjen-grotesk-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Familjen Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url("../font/familjen-grotesk-700.woff2") format("woff2");
}
.comments__list, .menu, .sidebar section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wp-block-file a:not(.wp-block-file__button), .credits .credits__link, .title__link, .menu a, .site-name .site-name__link, a[tabindex="-1"] {
  text-decoration: none;
}
.wp-block-file a:hover:not(.wp-block-file__button), .credits .credits__link:hover, .title__link:hover, .menu a:hover, .site-name .site-name__link:hover, a[tabindex="-1"]:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.0625rem;
}

.wp-block-image figcaption, .wp-block-gallery .blocks-gallery-caption, .thumbnail__caption {
  color: hsl(225, 5%, 30%);
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.25;
  margin-block: 0.25rem 0;
  text-align: center;
  text-wrap: balance;
}

.scroll-to-top::before, .print::before, .back-to-home::before, .date::before, .post-author::before, .pagination .icon-prev::before,
.pagination .icon-next::after, .hamburger::before, .menu--header .menu-item-has-children > a::after, .searchform .searchform__button::before {
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  display: block;
  flex-shrink: 0;
  height: 1cap;
  margin-top: 0.125rem;
  width: 1cap;
}

.hamburger::before, .searchform .searchform__button::before {
  margin-top: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus-visible {
  outline: 0.25rem solid hsl(354, 65%, 63%);
}

:target {
  scroll-margin-block: 2rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

p {
  margin-block: 1.5rem;
}

a {
  color: hsl(225, 5%, 10%);
}

figure {
  font-size: 0;
}

figcaption {
  font-size: 1rem;
}

img,
picture {
  display: block;
  height: auto;
  max-width: 100%;
}

.wrapper {
  margin-inline: auto;
  max-width: 72rem;
  padding-inline: 1rem;
  width: 100%;
}
.wrapper .wrapper--small {
  max-width: 45rem;
}

.button {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.25rem;
  background-color: hsl(225, 5%, 30%);
  border: 0;
  border-radius: 1rem;
  color: hsl(0, 0%, 100%);
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 1rem;
  height: 2rem;
  padding: 0 1rem;
  user-select: none;
}
.button:hover {
  background-color: #3d3e43;
}

.button-like-link {
  background-color: transparent;
  border: none;
  color: hsl(225, 5%, 10%);
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 1rem;
}

.header {
  background-color: hsl(225, 5%, 90%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__dimm {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2rem;
  height: 20rem;
}
.header.has-background .header__dimm {
  background-color: rgba(24, 25, 27, 0.5);
}

@media print {
  .header {
    display: none;
  }
}
.searchform {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 0.5rem;
  padding-inline: 1rem;
  margin: 0;
  text-align: center;
}
.searchform .searchform__input {
  background: hsl(0, 0%, 100%);
  border: 0.0625rem solid hsl(225, 5%, 30%);
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0.125rem 0.25rem hsl(225, 5%, 90%) inset;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 1rem;
  height: 2rem;
  min-width: auto;
  padding: 0 0.5rem;
  width: 100%;
}
@media screen and (min-width: 640px) {
  .searchform .searchform__input {
    min-width: 16rem;
  }
}
.searchform .searchform__button {
  width: 2rem;
}
@media screen and (min-width: 640px) {
  .searchform .searchform__button {
    width: auto;
  }
}
.searchform .searchform__button::before {
  background-image: url("../img/icon-search.svg");
}
@media screen and (min-width: 640px) {
  .searchform .searchform__button::before {
    margin-top: 0.1875rem;
  }
}
.searchform .searchform__button-text {
  display: none;
}
@media screen and (min-width: 640px) {
  .searchform .searchform__button-text {
    display: inline;
  }
}

.search-query {
  color: hsl(225, 5%, 30%);
  margin-block: -1.5rem 3rem;
  text-align: center;
}

.sidebar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 8rem auto;
  width: 70rem;
}
.sidebar section h2,
.sidebar section h3 {
  line-height: 1;
  margin: 0 0 1rem;
}
.footer__credits > .wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: normal normal;
  min-height: 4.5rem;
}
@media screen and (min-width: 768px) {
  .footer__credits > .wrapper {
    justify-content: flex-end;
  }
}

@media print {
  .footer {
    display: none;
  }
}
.singular .singular__header {
  margin: 0 auto 4rem;
  text-align: center;
  width: 54rem;
}
.singular .singular__date,
.singular .singular__author {
  color: hsl(225, 5%, 30%);
  display: inline-block;
  font-size: 0.875rem;
}
.singular .singular__title {
  font-size: 2.5rem;
  line-height: 1.25;
  margin: 1.75rem 0 4rem;
}
.singular .singular__thumbnail {
  display: block;
  margin: 4rem -8rem;
}
.singular .singular__content {
  margin: 4rem auto;
  width: 40rem;
}
.singular .singular__footer {
  margin: 4rem 0;
  text-align: center;
}

.site-logo .site-logo__link {
  font-size: 0;
}

.site-name {
  padding-inline: 1rem;
  text-align: center;
}
.site-name h1 {
  font-size: 0;
}
.site-name .site-name__link {
  color: hsl(225, 5%, 10%);
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 640px) {
  .site-name .site-name__link {
    font-size: 5rem;
  }
}
.site-name .site-name__description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (min-width: 640px) {
  .site-name .site-name__description {
    font-size: 1.5rem;
  }
}

.header.has-background .site-name__link,
.header.has-background .site-name__description {
  color: hsl(0, 0%, 100%);
  text-shadow: 0 0 2rem hsl(225, 5%, 10%);
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: hsl(0, 0%, 100%);
  border: 0.0625rem solid hsl(225, 5%, 30%);
  border-radius: 0.25rem;
  clip: auto !important;
  clip-path: none;
  color: #00f;
  display: block;
  font-size: 1rem;
  height: auto;
  left: 1rem;
  line-height: normal;
  padding: 1rem;
  text-decoration: none;
  top: 1rem;
  width: auto;
  z-index: 100000;
}

.navbar {
  text-align: center;
}
.navbar--header, .navbar--footer {
  background-color: hsl(225, 5%, 10%);
}
.navbar--header > .wrapper, .navbar--footer > .wrapper {
  min-height: 4.5rem;
}
.navbar--header > .wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1rem;
  padding-block: 1.25rem;
}
.navbar--footer > .wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1rem;
  padding-block: 1rem 1.25rem;
}
@media screen and (min-width: 768px) {
  .navbar--footer > .wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: normal normal;
  }
}

.menu .menu-item {
  line-height: 1;
  padding: 0.5rem;
}
.menu a {
  color: hsl(0, 0%, 100%);
}

.menu--header {
  display: none;
}
@media screen and (min-width: 640px) {
  .menu--header {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }
}
.menu--header .menu-item-has-children {
  position: relative;
}
.menu--header .menu-item-has-children > a {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.25rem;
}
.menu--header .menu-item-has-children > a::after {
  background-image: url("../img/icon-arrow-down.svg");
}

.menu--header.show {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0;
}
.menu--header.show .menu-item {
  padding: 0.25rem;
}
.menu--header.show .menu-item-has-children > a::after {
  display: none;
}

@media screen and (min-width: 640px) {
  .menu--footer {
    align-items: normal;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0.5rem;
  }
}
.menu--footer .menu-item {
  padding: 0.25rem;
}
@media screen and (min-width: 640px) {
  .menu--footer .menu-item {
    padding: 0.5rem;
  }
}

@media print {
  .menu {
    display: none;
  }
}
.sub-menu {
  background-color: hsl(0, 0%, 100%);
  border: 0.0625rem solid hsl(225, 5%, 10%);
  display: none;
  inset: 2rem auto auto 0;
  padding: 0.75rem 1rem 1rem;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  z-index: 9999;
}
.sub-menu--show {
  display: block !important;
}
.sub-menu .menu-item {
  display: block;
  padding: 0.25rem;
}
.sub-menu a {
  color: hsl(225, 5%, 10%);
  margin: 0;
}

.hamburger {
  width: 2rem;
}
.hamburger::before {
  background-image: url("../img/icon-menu.svg");
}
@media screen and (min-width: 640px) {
  .hamburger {
    display: none;
  }
}

.pagination {
  margin-block: 4rem 0;
  text-align: center;
}
.pagination .nav-links {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
.pagination .page-numbers {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.25rem;
  background-color: hsl(225, 5%, 30%);
  border: 0;
  border-radius: 1rem;
  color: hsl(0, 0%, 100%);
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 1rem;
  height: 2rem;
  padding: 0 1rem;
  user-select: none;
  text-decoration: none;
}
.pagination .page-numbers:hover {
  background-color: #3d3e43;
}
.pagination .current {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.25rem;
  background-color: #eca7ae;
  border: 0;
  border-radius: 1rem;
  color: #821c26;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 1rem;
  height: 2rem;
  padding: 0 1rem;
  user-select: none;
  font-weight: 700;
}
.pagination .current:hover {
  background-color: #e8929a;
}
.pagination .page-numbers,
.pagination .current {
  flex-shrink: 1;
  line-height: 1;
  min-width: 2rem;
  padding: 0;
}
.pagination .icon-prev,
.pagination .icon-next {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.25rem;
  padding: 0 1rem;
}
.pagination .icon-prev::before {
  background-image: url("../img/icon-arrow-left.svg");
}
.pagination .icon-next::after {
  background-image: url("../img/icon-arrow-right.svg");
}

.thumbnail__image {
  box-shadow: 0 0 3rem #d2d3d7;
}
.blog .thumbnail, .category .thumbnail, .archive .thumbnail {
  margin-block: 0 1.5rem;
}
.page .thumbnail, .single .thumbnail {
  margin-block: 3rem;
}

.blog .placeholder, .category .placeholder, .archive .placeholder {
  background-color: hsl(225, 5%, 90%);
  height: 18rem;
  margin-block: 0 1.5rem;
  width: 33rem;
}

.post-author {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.25rem;
  color: hsl(225, 5%, 30%);
  line-height: 1.5;
}
.post-author::before {
  background-image: url("../img/icon-person.svg");
}
body.page .post-author, body.single .post-author {
  text-align: center;
}

.date {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.25rem;
  color: hsl(225, 5%, 30%);
  line-height: 1.5;
}
.date::before {
  background-image: url("../img/icon-time.svg");
}
body.page .date, body.single .date {
  text-align: center;
}

.title {
  line-height: 1.25;
}
.title__link {
  font-size: 1.5rem;
  line-height: 1.25;
}

h1.title {
  font-size: 1.5rem;
  line-height: 1.125;
  margin-block: 0 1.5rem;
  text-align: center;
  text-wrap: balance;
}
@media screen and (min-width: 640px) {
  h1.title {
    font-size: 2.5rem;
  }
}

.search-results h1.title {
  margin-block: 0 3rem;
}

h2.title,
h3.title {
  font-size: 0;
  margin-block: 1.5rem 0.75rem;
}

.category h1.title,
.archive h1.title {
  margin-block: 0 3rem;
}

.search-results h2.title {
  margin-block: 0 0.5rem;
}

.content {
  color: hsl(225, 5%, 30%);
}
.page .content, .single .content {
  margin-block: 3rem;
  margin-inline: auto;
}
.page .content > :first-child, .single .content > :first-child {
  margin-top: 0;
}
.page .content > :last-child, .single .content > :last-child {
  margin-bottom: 0;
}
.page .content > p, .single .content > p {
  margin-inline: auto;
  max-width: 45rem;
}

.back-to-home {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.25rem;
}
.back-to-home::before {
  background-image: url("../img/icon-home.svg");
}

.comments {
  color: hsl(225, 5%, 30%);
  margin-block: 6rem;
  margin-inline: auto;
}
.comments .comment-reply-title {
  color: hsl(225, 5%, 10%);
  font-size: 1.5rem;
}
.comments .comment-form p.comment-form-comment,
.comments .comment-form p.comment-form-author,
.comments .comment-form p.comment-form-email,
.comments .comment-form p.comment-form-url,
.comments .comment-form p.form-submit {
  line-height: 1;
}
.comments .comment-form p.comment-form-comment label,
.comments .comment-form p.comment-form-author label,
.comments .comment-form p.comment-form-email label,
.comments .comment-form p.comment-form-url label,
.comments .comment-form p.form-submit label {
  color: hsl(225, 5%, 10%);
  display: block;
  font-weight: 700;
  line-height: 1;
  margin-block: 0 0.5rem;
}
.comments .comment-form p.comment-form-cookies-consent {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 0.5rem;
  line-height: 1.25;
}
.comments .comment-form textarea,
.comments .comment-form input:not([type=submit], [type=checkbox]) {
  border: 0.0625rem solid hsl(225, 5%, 30%);
  border-radius: 0.5rem;
  color: hsl(225, 5%, 30%);
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}
.comments .comment-form textarea {
  height: 9rem;
}
.comments .comment-form input:not([type=submit], [type=checkbox]) {
  height: 3rem;
}
.comments .comment-form input[type=submit] {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.25rem;
  background-color: hsl(225, 5%, 30%);
  border: 0;
  border-radius: 1rem;
  color: hsl(0, 0%, 100%);
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 1rem;
  height: 2rem;
  padding: 0 1rem;
  user-select: none;
}
.comments .comment-form input[type=submit]:hover {
  background-color: #3d3e43;
}
.comments__list {
  margin-block: 6rem 0;
}
.comments__list .comment-author {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 0.25rem;
}
.comments__list .comment-content p {
  margin-block: 0.75rem;
}

@media print {
  .comments {
    display: none;
  }
}
.post-meta {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.1875rem;
}
@media screen and (min-width: 640px) {
  .post-meta {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1.5rem;
  }
}

.post-meta--top {
  margin: 0;
}

.post-meta--bottom {
  margin: 3rem 0;
}

@media print {
  .post-meta {
    display: none;
  }
}
.print {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.25rem;
}
.print::before {
  background-image: url("../img/icon-printer.svg");
}

.main {
  background-color: hsl(0, 0%, 100%);
  margin-block: 3rem;
}
@media screen and (min-width: 640px) {
  .main {
    margin-block: 6rem;
  }
}

@media print {
  .main {
    margin-block: 0;
  }
}
.excerpts {
  align-items: normal;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
@media screen and (min-width: 1156px) {
  .excerpts {
    justify-content: unset;
  }
}
body.search .excerpts {
  align-items: normal;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 3rem;
  margin-inline: auto;
  max-width: 33rem;
}

.excerpt {
  flex-basis: 100%;
  max-width: 33rem;
}
.excerpt__meta {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: normal normal;
}
@media screen and (min-width: 640px) {
  .excerpt__meta {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0.75rem;
  }
}

.no-posts {
  color: hsl(225, 5%, 30%);
  text-align: center;
}

.scroll-to-top {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.25rem;
  background-color: hsl(225, 5%, 90%);
  border: 0;
  border-radius: 1rem;
  color: hsl(225, 5%, 10%);
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 1rem;
  height: 2rem;
  padding: 0 1rem;
  user-select: none;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.25rem;
}
.scroll-to-top:hover {
  background-color: #d7d8db;
}
.scroll-to-top::before {
  background-image: url("../img/icon-arrow-up.svg");
}

.credits .credits__link {
  color: hsl(225, 5%, 10%);
  line-height: 1;
}

.author-bio {
  color: hsl(225, 5%, 30%);
  margin-block: 0 4rem;
  margin-inline: auto;
  max-width: 33rem;
}

.other-authors {
  text-align: center;
}

.error-message {
  text-align: center;
}

.wp-block-separator {
  border: 0.0625rem solid hsl(225, 5%, 90%);
  margin-block: 3rem;
}

.wp-block-file {
  align-items: center;
  background-color: hsl(225, 5%, 90%);
  border-radius: 0.375rem;
  display: flex;
  justify-content: space-between;
  margin-block: 0.75rem;
  min-height: 3.25rem;
  padding-block: 0.375rem;
  padding-inline: 0.75rem 0.375rem;
}
.wp-block-file a:not(.wp-block-file__button) {
  color: hsl(225, 5%, 10%);
}
.wp-block-file .wp-block-file__button {
  display: none;
}
@media screen and (min-width: 640px) {
  .wp-block-file .wp-block-file__button {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.25rem;
    background-color: hsl(225, 5%, 30%);
    border: 0;
    border-radius: 1rem;
    color: hsl(0, 0%, 100%);
    font-family: "Familjen Grotesk", sans-serif;
    font-size: 1rem;
    height: 2rem;
    padding: 0 1rem;
    user-select: none;
  }
  .wp-block-file .wp-block-file__button:hover {
    background-color: #3d3e43;
  }
}

.wp-block-gallery {
  margin-block: 3rem;
}
.wp-block-gallery.is-layout-flex {
  align-items: normal;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.75rem !important;
}
.wp-block-gallery.columns-default .wp-block-image {
  width: calc(33% - 0.75rem);
}
.wp-block-gallery.columns-1 .wp-block-image {
  width: 100%;
}
.wp-block-gallery.columns-2 .wp-block-image {
  width: calc(50% - 0.75rem);
}
.wp-block-gallery.columns-3 .wp-block-image {
  width: calc(33% - 0.75rem);
}
.wp-block-gallery.columns-4 .wp-block-image {
  width: calc(25% - 0.75rem);
}
.wp-block-gallery.columns-5 .wp-block-image {
  width: calc(20% - 0.75rem);
}
.wp-block-gallery.columns-6 .wp-block-image {
  width: calc(16% - 0.75rem);
}
.wp-block-gallery .wp-block-image {
  flex-grow: 1;
  hyphens: auto;
  position: relative;
  overflow: auto;
}
.wp-block-gallery .wp-block-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.wp-block-gallery .wp-block-image .wp-element-caption {
  background-image: linear-gradient(to top, rgba(24, 25, 27, 0.75), transparent);
  color: hsl(0, 0%, 100%);
  font-style: normal;
  inset: auto 0 0 0;
  padding-block: 0.75rem;
  padding-inline: 0.375rem;
  position: absolute;
}
.wp-block-gallery .blocks-gallery-caption {
  flex-basis: 100%;
  flex-grow: 1;
  margin-block: 0;
}

.wp-block-image figure.alignleft {
  float: left;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}
.wp-block-image figure.alignright {
  float: right;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}
.wp-block-image figure.aligncenter {
  margin-block: 3rem;
}
.wp-block-image figure.aligncenter img {
  margin-inline: auto;
}
.wp-block-video {
  margin-block: 1.5rem;
}
.wp-block-video video {
  height: auto;
  width: 100%;
}
.wp-block-video figcaption {
  color: hsl(225, 5%, 30%);
  font-size: 0.875rem;
  line-height: 1.25;
  margin-block: 0.375rem 0;
  text-align: center;
}

.content :is(h2, h3, h4, h5, h6) {
  line-height: 1.25;
  text-wrap: balance;
}
.content :is(h2, h3, h4) {
  font-weight: 700;
}
.content :is(h3, h4, h5, h6) {
  margin-block: 1.5rem;
}
.content h2 {
  font-size: 1.5rem;
  margin-block: 3rem 1.5rem;
}
@media screen and (min-width: 640px) {
  .content h2 {
    font-size: 2.5rem;
  }
}
.content h3 {
  font-size: 1rem;
}
@media screen and (min-width: 640px) {
  .content h3 {
    font-size: 1.5rem;
  }
}
.content h4 {
  font-size: 1rem;
}
.content h5 {
  font-size: 1rem;
  font-weight: 500;
}
.content h6 {
  font-size: 1rem;
  font-weight: 400;
}

.wp-block-quote {
  border-left: 0.5rem solid hsl(225, 5%, 90%);
  margin-block: 3rem;
  margin-inline: auto;
  max-width: 45rem;
  padding-left: 1.5rem;
}

.wp-block-table {
  font-size: 1rem;
  margin-block: 1.5rem;
}
.wp-block-table table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
.wp-block-table thead th,
.wp-block-table tfoot td {
  background-color: hsl(225, 5%, 90%);
}
.wp-block-table th,
.wp-block-table td {
  border: 0.0625rem solid #c9cbcf;
  padding: 0.1875rem 0.375rem;
}
.wp-block-table figcaption {
  color: hsl(225, 5%, 30%);
  font-size: 0.875rem;
  line-height: 1.25;
  margin-block: 0.375rem 0;
  text-align: center;
}

.wp-block-details {
  margin-block: 1.5rem;
}
.wp-block-details summary {
  background-color: hsl(225, 5%, 90%);
  border-radius: 0.375rem;
  padding-block: 0.1875rem;
  padding-inline: 0.75rem;
}
.wp-block-details p {
  padding-left: 1.5rem;
}

.wp-block-embed {
  margin-block: 1.5rem;
}

.is-type-video iframe {
  aspect-ratio: 16/9;
  display: block;
  height: auto;
  margin-inline: auto;
  width: 100%;
}

.has-text-align-left {
  text-align: left;
}

.has-text-align-center {
  text-align: center;
}

.has-text-align-right {
  text-align: right;
}