@use 'base/colors' as c;
@use 'base/typography' as t;

.wp-block-video {
	margin-block: 1.5rem;

	video {
		height: auto;
		width: 100%;
	}

	figcaption {
		color: c.$gray;
		font-size: t.$fontSize--sm;
		line-height: t.$lineHeight--sm;
		margin-block: 0.375rem 0;
		text-align: center;
	}
}