@use '../../base/variables' as *;
@use '../../tools/placeholders';

.wp-block-image {
	figure.alignleft {
		float: left;
		margin-right: 1.5rem;
		margin-bottom: 1.5rem;
	}

	figure.alignright {
		float: right;
		margin-left: 1.5rem;
		margin-bottom: 1.5rem;
	}

	figure.aligncenter {
		margin-block: 3rem;

		img {
			margin-inline: auto;
		}
	}

	figcaption {
		@extend %figcaption;
	}
}