@use 'base/variables' as v;
@use 'tools/mixins' as m;

.footer {
	.footer__navigation {
		background-color: v.$blue;

		.wrapper {
			@include m.flex($align:center, $justify:space-between);
			padding-block: 2rem;
		}
	}

	.footer__credits {
		background-color: v.$white;

		.wrapper {
			@include m.flex($align:center, $justify:flex-end);
			height: 4rem;
		}
	}
}