@use 'base/variables' as v;
@use 'tools/mixins' as m;

.footer {
	.footer__navigation,
	.footer__credits {
		.wrapper {
			height: 5rem;
		}
	}

	.footer__navigation {
		background-color: v.$blue;

		.wrapper {
			@include m.flex($align:center, $justify:space-between);
		}
	}

	.footer__credits {
		background-color: v.$white;

		.wrapper {
			@include m.flex($align:center, $justify:flex-end);
		}
	}
}