@use 'base/variables' as v;
@use 'tools/mixins' as m;

.header {
	background-color: v.$silver;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	.header__dimm {
		@include m.flex($align:center, $justify:center, $direction:column, $gap: 2rem);
		background-color: rgba(v.$black, 0);
		height: 20rem;
	}
}