@use 'base/variables' as *;
@use 'tools/mixins' as *;

.header {
	background-color: $silver;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	.header__dimm {
		@include flex($align:center, $justify:center, $direction:column, $gap: 2rem);
		background-color: rgba($black, 0);
		height: 20rem;
	}
}