@use '../base/variables' as *;
@use '../base/mixins' as *;

.header {
	background-color: $silver;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&__dimm {
		@include flex($align:center, $justify:center, $direction:column, $gap: 2rem);
		height: 20rem;
	}

	&.has-background {
		.header__dimm {
			background-color: rgba($black, 0.5);
		}
	}
}

// Wersja do druku
@media print {
	.header {
		display: none;
	}
}