@use '../base/variables' as *;
@use '../tools/mixins' as *;
@use '../tools/placeholders';

.searchform {
	@include flex( $align:center, $gap:0.5rem );
	padding-inline: 1rem;
	margin: 0;
	text-align: center;
	
	.searchform__input {
		background: $white;
		border: 0.0625rem solid $gray;
		border-radius: 0.5rem;
		box-shadow: 0.125rem 0.125rem 0.25rem $silver inset;
		font-family: $font-family;
		font-size: $font-size;
		height: 2rem;
		min-width: auto;
		padding: 0 0.5rem;
		width: 100%;

		@media screen and ( min-width:$breakpoint--sm ) {
			min-width: 16rem;
		}
	}

	.searchform__button {
		width: 2rem;

		@media screen and ( min-width:$breakpoint--sm ) {
			width: auto;
		}
	}

	.searchform__button::before {
		@extend %icon;
		@extend %only-icon;
		background-image: url( "../../images/icon-search.svg" );

		@media screen and ( min-width:$breakpoint--sm ) {
			margin-top: 0.1875rem;
		}
	}

	.searchform__button-text {
		display: none;

		@media screen and ( min-width:$breakpoint--sm ) {
			display: inline;
		}
	}
}