@use 'base/variables' as v;
@use 'tools/mixins' as m;

.searchform {
	margin: 0;
	text-align: center;

	.searchform__label {
		@include m.flex($align:center, $display:inline-flex);
		background-color: v.$white;
		border: 0.0625rem solid v.$gray;
		border-radius: 0.25rem;
	}
	
	.searchform__input {
		background: v.$white;
		border: 0;
		border-radius: 0.25rem;
		font-family: v.$font-family;
		font-size: v.$font-size;
		height: 3rem;
		padding: 0 1rem;
		width: 16rem;
	}

	.searchform__button {
		height: 2.5rem;
		margin: 0 0.25rem;
	}
}