@use '../base/variables' as *;

.singular {

	.singular__header {
		margin: 0 auto 4rem;
		text-align: center;
		width: 54rem;
	}

	.singular__date,
	.singular__author {
		color: $gray;
		display: inline-block;
		font-size: 0.875rem;
	}

	.singular__title {
		font-size: 2.5rem;
		line-height: 1.25;
		margin: 1.75rem 0 4rem;
	}

	.singular__thumbnail {
		display: block;
		margin: 4rem -8rem;
	}

	.singular__content {
		margin: 4rem auto;
		width: 40rem;
	}

	.singular__footer {
		margin: 4rem 0;
		text-align: center;
	}

}