@use '../../tools/mixins' as *;

.excerpts {
	@include flex($justify:center, $gap:4rem, $wrap:wrap);

	@media (min-width:1120px) {
		justify-content: unset;
	}

	body.search & {
		@include flex($direction:column, $wrap:nowrap, $gap:3rem);
		margin-inline: auto;
		max-width: 33rem;
	}
}