@use 'tools/mixins' as m;

.excerpts {
	@include m.flex($justify:center, $gap:4rem, $wrap:wrap);

	@media (min-width:1120px) {
		justify-content: unset;
	}

	body.search & {
		@include m.flex($direction:column, $wrap:nowrap, $gap:3rem);
		margin-inline: auto;
		max-width: 33rem;
	}
}