@charset "UTF-8";
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-italic.woff2") format("woff2"), url("../fonts/roboto-italic.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-700.woff2") format("woff2"), url("../fonts/roboto-700.woff") format("woff");
}
.menu, .sidebar section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a, .site-name .site-name__link, a[tabindex="-1"] {
  text-decoration: none;
}
.menu a:hover, .site-name .site-name__link:hover, a[tabindex="-1"]:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.0625rem;
}

:focus-visible {
  outline: 0.125rem solid hsl(240deg, 100%, 50%);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(0deg, 0%, 100%);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

body,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

p {
  margin-block: 1.5rem;
}

a {
  color: hsl(240deg, 100%, 50%);
}

figure {
  font-size: 0;
}

figcaption {
  font-size: 0.875rem;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.wrapper {
  margin-inline: auto;
  max-width: 70rem;
}
.wrapper .wrapper--small {
  max-width: 45rem;
}

.button {
  background-color: hsl(0deg, 0%, 40%);
  border: 0;
  border-radius: 0.25rem;
  color: hsl(0deg, 0%, 100%);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  height: 3rem;
  min-width: 3rem;
  padding: 0 1rem;
  user-select: none;
}
.button:hover {
  background-color: #4d4d4d;
}

.header {
  background-color: hsl(0deg, 0%, 95%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header .header__dimm {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0);
  height: 20rem;
}

.searchform {
  margin: 0;
  text-align: center;
}
.searchform .searchform__label {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: normal normal;
  background-color: hsl(0deg, 0%, 100%);
  border: 0.0625rem solid hsl(0deg, 0%, 40%);
  border-radius: 0.25rem;
}
.searchform .searchform__input {
  background: hsl(0deg, 0%, 100%);
  border: 0;
  border-radius: 0.25rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  height: 3rem;
  padding: 0 1rem;
  width: 16rem;
}
.searchform .searchform__button {
  height: 2.5rem;
  margin: 0 0.25rem;
}

.search-query {
  text-align: center;
  margin-block: 0 4rem;
}

.sidebar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 8rem auto;
  width: 70rem;
}
.sidebar section h2,
.sidebar section h3 {
  line-height: 1;
  margin: 0 0 1rem;
}
.footer .footer__navigation .wrapper,
.footer .footer__credits .wrapper {
  height: 5rem;
}
.footer .footer__navigation {
  background-color: hsl(240deg, 100%, 50%);
}
.footer .footer__navigation .wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: normal normal;
}
.footer .footer__credits {
  background-color: hsl(0deg, 0%, 100%);
}
.footer .footer__credits .wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: normal normal;
}

.singular .singular__header {
  margin: 0 auto 4rem;
  text-align: center;
  width: 54rem;
}
.singular .singular__date,
.singular .singular__author {
  color: hsl(0deg, 0%, 40%);
  display: inline-block;
  font-size: 0.875rem;
}
.singular .singular__title {
  font-size: 2.5rem;
  line-height: 1.25;
  margin: 1.75rem 0 4rem;
}
.singular .singular__thumbnail {
  display: block;
  margin: 4rem -8rem;
}
.singular .singular__content {
  margin: 4rem auto;
  width: 40rem;
}
.singular .singular__footer {
  margin: 4rem 0;
  text-align: center;
}

.site-name {
  text-align: center;
}
.site-name .site-name__title {
  line-height: 1;
  margin: 0;
}
.site-name .site-name__link {
  display: inline-block;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5rem;
}
.site-name .site-name__description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: hsl(0deg, 0%, 100%);
  border: 0.0625rem solid hsl(0deg, 0%, 40%);
  border-radius: 0.25rem;
  clip: auto !important;
  clip-path: none;
  color: #00f;
  display: block;
  font-size: 1rem;
  height: auto;
  left: 1rem;
  line-height: normal;
  padding: 1rem;
  text-decoration: none;
  top: 1rem;
  width: auto;
  z-index: 100000;
}

.navbar {
  text-align: center;
}
.navbar.navbar--header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: normal normal;
  background-color: hsl(240deg, 100%, 50%);
  height: 5rem;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.5rem;
}
.menu > .menu-item {
  position: relative;
}
.menu a {
  color: hsl(0deg, 0%, 100%);
  line-height: 1;
  padding-block: 0.75rem;
  padding-inline: 0.5rem;
}

.menu--header .menu-item-has-children::after {
  color: hsl(0deg, 0%, 0%);
  content: "🡫";
  margin-inline: -0.5rem 0.5rem;
}

.sub-menu {
  background-color: hsl(0deg, 0%, 100%);
  border: 0.0625rem solid hsl(0deg, 0%, 0%);
  display: none;
  inset: 2rem auto auto 0.5rem;
  padding: 0.75rem 1rem 1rem;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}
.sub-menu--show {
  display: block !important;
}
.sub-menu .menu-item {
  display: block;
  margin: 0.25rem 0;
}
.sub-menu a {
  color: hsl(0deg, 0%, 0%);
  margin: 0;
}

.pagination {
  margin-block: 4rem 0;
  text-align: center;
}
.pagination .page-numbers {
  padding: 0.5rem;
}

.blog .thumbnail, .category .thumbnail, .archive .thumbnail {
  margin-block: 0 1.5rem;
}
.page .thumbnail, .single .thumbnail {
  margin-block: 3rem;
}

.blog .placeholder, .category .placeholder, .archive .placeholder {
  background-color: hsl(0deg, 0%, 95%);
  height: 18rem;
  margin-block: 0 1.5rem;
  width: 33rem;
}

.author {
  line-height: 1.5;
}
body.page .author, body.single .author {
  text-align: center;
}

.date {
  display: block;
  line-height: 1.5;
}
body.page .date, body.single .date {
  text-align: center;
}

.title {
  line-height: 1.25;
}
.title__link {
  font-size: 1.5rem;
  line-height: 1.25;
}

h1.title {
  font-size: 2rem;
  margin-block: 0 1rem;
  text-align: center;
}

h2.title {
  font-size: 0;
  margin-block: 1rem 1.5rem;
}
body.search h2.title {
  margin-block: 0;
}

.page .content, .single .content {
  margin-inline: auto;
  max-width: 45rem;
}

.back-to-home {
  margin-block: 3rem 0;
  text-align: center;
}

.comments {
  margin: 4rem auto;
}

.main {
  margin-block: 6rem;
}

.excerpts {
  align-items: normal;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
@media (min-width: 1120px) {
  .excerpts {
    justify-content: unset;
  }
}
body.search .excerpts {
  align-items: normal;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 2rem;
  margin-inline: auto;
  max-width: 33rem;
}

.excerpt {
  flex-basis: 100%;
  max-width: 33rem;
}

.scroll-to-top {
  background-color: hsl(0deg, 0%, 95%);
  border: 0;
  border-radius: 0.25rem;
  color: hsl(0deg, 0%, 0%);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  height: 3rem;
  min-width: 3rem;
  padding: 0 1rem;
  user-select: none;
}
.scroll-to-top:hover {
  background-color: #d9d9d9;
}

.credits {
  line-height: 1;
}

.author-bio {
  margin-block: 0 4rem;
  margin-inline: auto;
  max-width: 33rem;
}

.other-authors {
  text-align: center;
}

.error-message {
  text-align: center;
}

.wp-block-separator {
  border: 0.0625rem solid hsl(0deg, 0%, 95%);
  margin-block: 1.5rem;
}

.wp-block-file {
  align-items: center;
  background-color: hsl(0deg, 0%, 95%);
  border-radius: 0.375rem;
  display: flex;
  justify-content: space-between;
  margin-block: 0.75rem;
  padding: 0.375rem 0.75rem;
}
.wp-block-file .wp-block-file__button {
  background-color: hsl(0deg, 0%, 40%);
  border-radius: 0.1875rem;
  padding: 0.375rem 0.75rem;
}
.wp-block-file .wp-block-file__button:hover {
  background-color: #4d4d4d;
}

.wp-block-image figure.alignleft {
  float: left;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}
.wp-block-image figure.alignright {
  float: right;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}
.wp-block-image figure.aligncenter {
  margin-block: 1.5rem;
}
.wp-block-image figure.aligncenter img {
  margin-inline: auto;
}
.wp-block-image figcaption {
  color: hsl(0deg, 0%, 40%);
  font-size: 0.875rem;
  line-height: 1.25;
  margin-block: 0.25rem 0;
  text-align: center;
}

.wp-block-video {
  margin-block: 1.5rem;
}
.wp-block-video video {
  height: auto;
  width: 100%;
}
.wp-block-video figcaption {
  color: hsl(0deg, 0%, 40%);
  font-size: 0.875rem;
  line-height: 1.25;
  margin-block: 0.375rem 0;
  text-align: center;
}

.wp-block-table {
  font-size: 1rem;
  margin-block: 1.5rem;
}
.wp-block-table table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
.wp-block-table thead th,
.wp-block-table tfoot td {
  background-color: hsl(0deg, 0%, 95%);
}
.wp-block-table th,
.wp-block-table td {
  border: 0.0625rem solid #d9d9d9;
  padding: 0.1875rem 0.375rem;
}
.wp-block-table figcaption {
  color: hsl(0deg, 0%, 40%);
  font-size: 0.875rem;
  line-height: 1.25;
  margin-block: 0.375rem 0;
  text-align: center;
}

.wp-block-embed {
  margin-block: 1.5rem;
}

.is-type-video iframe {
  aspect-ratio: 16/9;
  display: block;
  height: auto;
  margin-inline: auto;
  width: 100%;
}

.has-text-align-left {
  text-align: left;
}

.has-text-align-center {
  text-align: center;
}

.has-text-align-right {
  text-align: right;
}