@use '../../base/variables' as *;
@use '../../tools/mixins' as *;

.wp-block-details {

	// Konfiguracja
	$summary-background-color: $silver;
	$summary-border-radius: 0.375rem;
	$summary-padding-vertical: 0.1875rem;
	$summary-padding-horizontal: 0.75rem;
	$text-padding-left: 1.5rem;

	// Style
	margin-block: 1.5rem;

	summary {
		background-color: $summary-background-color;
		border-radius: $summary-border-radius;
		padding-block: $summary-padding-vertical;
		padding-inline: $summary-padding-horizontal;
	}

	p {
		padding-left: $text-padding-left;
	}

}