@use '../../base/variables' as *;

.content {
	:is( h2, h3, h4, h5, h6 ) {
		line-height: $line-height--sm;
		text-wrap: balance;
	}

	:is( h2, h3, h4 ) {
		font-weight: $font-weight--bold;
	}

	:is( h3, h4, h5, h6 ) {
		margin-block: 1.5rem;
	}

	h2 {
		font-size: $font-size--md;
		margin-block: 3rem 1.5rem;

		@media screen and ( min-width:$breakpoint--sm ) {
			font-size: $font-size--lg;
		}
	}

	h3 {
		font-size: $font-size;

		@media screen and ( min-width:$breakpoint--sm ) {
			font-size: $font-size--md;
		}
	}

	h4 {
		font-size: $font-size;
	}

	h5 {
		font-size: $font-size;
		font-weight: $font-weight--medium;
	}

	h6 {
		font-size: $font-size;
		font-weight: $font-weight--regular;
	}
}
