@use '../../base/variables' as *;

.wp-block-table {
	font-size: $font-size;
	margin-block: 1.5rem;

	table {
		border-collapse: collapse;
		text-align: left;
		width: 100%;
	}

	thead th,
	tfoot td {
		background-color: $silver;
	}

	th,
	td {
		border: 0.0625rem solid darken($silver, 10%);
		padding: 0.1875rem 0.375rem;
	}

	figcaption {
		color: $gray;
		font-size: $font-size--small;
		line-height: $line-height--small;
		margin-block: 0.375rem 0;
		text-align: center;
	}
}