@use 'base/variables' as *;
@use 'tools/mixins' as *;
@use 'tools/placeholders';

.author {
	line-height: $line-height;
	
	&__link {
		@extend %inverted-underline;
		@include flex($align:center, $justify:center, $gap:0.1875rem);
		fill: $red;
	}

	// Info o autorze we wpisach i na stronach
	body.page &,
	body.single & {
		text-align: center;
	}
}