@use '../../base/variables' as *;
@use '../../tools/mixins' as *;
@use '../../tools/placeholders';

.post-author {
	@include flex( $align:center, $justify:center, $gap:0.25rem );
	color: $gray;
	line-height: $line-height;

	&::before {
		@extend %icon;
		background-image: url( "../../images/icon-person.svg" );
	}

	// Info o autorze we wpisach i na stronach
	body.page &,
	body.single & {
		text-align: center;
	}
}