@use 'base/variables' as *;
@use 'tools/mixins' as *;

.date {
	@include flex($align:center, $justify:center, $gap:0.1875rem);
	color: $gray;
	fill: $red;
	line-height: $line-height;

	// Data we wpisach i na stronach
	body.page &,
	body.single & {
		text-align: center;
	}
}