@use 'base/variables' as *;
@use 'tools/mixins' as *;
@use 'tools/placeholders';

.print {
	@include flex($align:center, $justify:center, $gap:0.1875rem);
	margin-block: 3rem 0;
	text-align: center;

	box-icon {
		fill: $red;
		height: 1.25rem;
		width: 1.25rem;
	}
}

.print__button {
	color: $blue;
}