@use "../../base/variables" as *;
@use "../../base/placeholders";

.thumbnail {

	&__image {
		box-shadow: 0 0 3rem darken( $silver, 6.66% );
	}

	&__caption {
		@extend %figcaption;
	}
	
	// Obrazek wyróżniający w skrótach wpisów
	.blog &,
	.category &,
	.archive & {
		margin-block: 0 1.5rem;
	}

	// Obrazek wyróżniający we wpisach i na stronach
	.page &,
	.single & {
		margin-block: 3rem;
	}
	
}