.axel-excerpt {
	border: 0.0625rem solid #e5e5e5;
	padding: 2rem;

	&__thumbnail {
		display: block;
		margin: -2rem -2rem 2rem;
	}

	&__title {
		font-size: 1.25rem;
		line-height: 1.5;
		margin: 0.5rem 0 2rem;
	}

	&__date,
	&__author {
		color: #666;
		font-size: 0.875rem;
		display: inline;
	}

	&__read-more {
		text-align: right;
	}
}