.axel-excerpt {
	margin: 4rem auto;
	width: 36rem;

	&__title {
		font-size: 1.25rem;
		line-height: 1.25;
		margin: 0.75rem 0 0.5rem;
	}

	&__date,
	&__author {
		color: #666;
		font-size: 0.875rem;
		display: inline;
	}

	&__read-more {
		text-align: right;
	}
}