@use 'base/variables' as *;
@use 'tools/placeholders';

:focus-visible {
	outline: 0.25rem solid $yellow;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: $white;
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight--regular;
	line-height: $line-height;
}

body,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: $line-height--small;
}

p {
	margin-block: 1.5rem;
}

a {
	color: $blue;
}

a[tabindex="-1"] {
	@extend %inverted-underline;
}

figure {
	font-size: $font-size--reset;
}

figcaption {
	font-size: $font-size;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}
