@use 'base/typography' as typography;
@use 'base/colors' as color;

:focus-visible {
	outline: 0.125rem solid color.$blue;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: typography.$fontFamily;
	font-size: typography.$fontSize;
	font-weight: typography.$fontWeight--normal;
	line-height: typography.$lineHeight;
}

body,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: typography.$lineHeight--small;
}

p {
	margin-block: 1.5rem;
}

a {
	color: color.$blue;
}

a[tabindex="-1"] {
	text-decoration: none;
}

figure {
	font-size: 0;
}

figcaption {
	font-size: typography.$fontSize--small;		
}
