@use 'base/variables' as v;
@use 'tools/placeholders';

:focus-visible {
	outline: 0.125rem solid v.$blue;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: v.$font-family;
	font-size: v.$font-size;
	font-weight: v.$font-weight--regular;
	line-height: v.$line-height;
}

body,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: v.$line-height--small;
}

p {
	margin-block: 1.5rem;
}

a {
	color: v.$blue;
}

a[tabindex="-1"] {
	@extend %inverted-underline;
}

figure {
	font-size: v.$font-size--reset;
}

figcaption {
	font-size: v.$font-size--small;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}
