// Typography
$font-family: 'Poppins', sans-serif;
$font-size: 1rem;
$h4-size: calc( $font-size * 1.25 );
$h3-size: calc( $h4-size * 1.5 );
$h2-size: calc( $h3-size * 1.5 );
$h1-size: calc( $h2-size * 1.5 );
$line-height: 1.75;

// Colors
$black: #000;
$white: #fff;