// Colors
$black: hsl(  0,   0%,  10%);
$gray:  hsl(  0,   0%,  30%);
$silver:hsl(  0,   0%,  95%);
$red:   hsl(354,  63%,  63%);
$yellow:hsl( 51, 100%,  55%);
$white: hsl(  0,   0%, 100%);
$blue:  hsl(225,  65%,  37%);

// Typography - font families
$font-family: 'Roboto', sans-serif;

// Typography - font sizes
$font-size:         1rem;
$font-size--reset:  0;
$font-size--small:  0.875rem;
$font-size--medium: 1.5rem;
$font-size--large:  2.5rem;
$font-size--xlarge: 5rem;

// Typography - font weights
$font-weight--light:   300;
$font-weight--regular: 400;
$font-weight--bold:    700;
$font-weight--xbold:   800;
$font-weight--black:   900;

// Typogtaphy - line heights
$line-height:        1.625;
$line-height--reset: 1;
$line-height--small: 1.3125;