// Colors
$black: hsl(225,   5%,  10%);
$gray:  hsl(225,   5%,  30%);
$silver:hsl(225,   5%,  90%);
$red:   hsl(354,  65%,  63%);
$yellow:hsl( 51,  65%,  55%);
$white: hsl(  0,   0%, 100%);
$blue:  hsl(225,  35%,  37%);

// Typography - font families
$font-family: 'Familjen Grotesk', sans-serif;

// Typography - font sizes
$font-size:     1rem;
$font-size--sm: 0.875rem;
$font-size--md: 1.5rem;
$font-size--lg: 2.5rem;
$font-size--xl: 5rem;

// Typography - font weights
$font-weight--regular:  400;
$font-weight--medium:   500;
$font-weight--semibold: 600;
$font-weight--bold:     700;

// Typogtaphy - line heights
$line-height:     1.5;
$line-height--sm: 1.25;

// Breakpoints
$breakpoint--sm: 640px;
$breakpoint--md: 768px;
$brekapoint--lg: 1024px;
$brekapoint--xl: 1280px;